<form method="post" enctype="multipart/form-data">
<label for="sentence">Add the sentence</label>
<input type="text" id="sentence" name="sentence" required>
<input type="file" id="file" name="file">
<input type="submit" value="Add"

<input type="submit" value="Add">
</form>
